{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Intro -->

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to my site!</h1>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">I am searching for a role that will allow me to combine my
          Python programming skills with my 10 years of investment research and
          consulting experience. I enjoy studying data and extracting
          information that you can act on and generate profits from. </p>
      </div>
    </div>
  </div>

   <!-- Resume -->

  <hr class="my-4">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
          data-target="#resume" aria-expanded="false" aria-controls="collapseOne"
          style="color:grey">
            Resume
          </button>
        </h2>
      </div>
      <div id="resume" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!-- Resume Section Buttons -->
          <p>
            <button class="btn btn-primary" type="button" data-toggle='collapse'
            data-target='#programming' aria-expanded='false' aria-controls='collapseExample' name="button"
            href="#collapseExample">
            Programming Courses Completed
            </button>
            <button class="btn btn-primary" type="button" data-toggle='collapse'
            data-target='#ubs' aria-expanded='false' aria-controls='collapseExample' name="button"
            href="#collapseExample">
            UBS
            </button>
            <button class="btn btn-primary" type="button" data-toggle='collapse'
            data-target='#jpm' aria-expanded='false' aria-controls='collapseExapmle' name="button"
            href="#collapseExample">
            JP Morgan Private Bank
            </button>
            <button class="btn btn-primary" type="button" data-toggle='collapse'
            data-target='#ml' aria-expanded='false' aria-controls='collapseExapmle' name="button"
            href="#collapseExample">
            Merrill Lynch
            </button>
          </p>
          <!-- Resume Section Body -->
          <div class="collapse" id="programming">
            <div class="card card-body">
              <h3>Programming Courses I have completed:</h3>
              <ul>
                MIT OpenCourseWare
                <ul>
                  <li>Introduction to Computer Science and Programming in Python</li>
                  <li>Introduction to Computational Thinking and Data Science</li>
                </ul>
                Udemy
                <ul>
                  <li>Python and Django Full Stack Web Developer Bootcamp by Pierian Data</li>
                  <li>Python for Financial Analysis and Algorithmic Trading by Pierian Data</li>
                  <li>Python for Finance: Investment Fundamentals & Data Analytics by 365 Careers </li>
                  <li>Python OOP: Four Pillars of OOP in Python by Febin George</li>
                </ul>
                EdX
                <ul>
                  <li>Probability and Statistics in Data Science using Python by UCSD X</li>
                  <li>Python for Data Science by UCSD X</li>
                  <li>Introduction to Python: Creating Scalable, Robust, Interactive Code by Microsoft</li>
                </ul>
              </ul>

            </div>

          </div>
          <div class="collapse" id="ubs">
            <div class="card card-body">
              <h3>UBS</h3>
              <ul>
                <li>Contributed in growing practice from 40MM AUM to over 95MM AUM by providing
                in-depth needs based analysis.</li>
                <li>Developed the group’s methods for analyzing and selecting asset managers.</li>
                <li>Performed due-diligence and ongoing monitoring of equity
                  managers (long only, long short, domestic, international),
                  fixed income managers (traditional bond managers, flexible mandate managers,
                   international FI managers, long short credit), and alternative managers
                   (managed futures, market neutral, global macro strategies, event driven, etc).</li>
                <li>Analyzed portfolios to determine methods of decreasing portfolio volatility,
                  drawdown, and correlations to various assets classes; thus, improving portfolio efficiency.</li>
                <li>Presented to and educated finance committees on investment themes, methods, and rational. </li>
                <li>Monitored markets to determine entry and exit points of portfolio positions.</li>
                <li>Generated, presented, and sold fixed income trade ideas that were responsible for 30% of team’s revenue.</li>
                <li>Used FI360 for benchmarking our DC Plans as part of our ongoing due diligence process.</li>
                <li>Used Zephyr for ongoing due-diligence of funds within our DC Plans.</li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="jpm">
            <div class="card card-body">
              <h3>JP Morgan Private Bank</h3>
              <ul>
                <li>Responsible for a book of over 150MM in client positions.</li>
                <li>Developed investment policy statements for our client’s. </li>
                <li>Increased revenue 15% by developing new business using our investments, lending, and deposit platforms.</li>
                <li>Created Goal Based Wealth Management Plans for clients using software that includes Monte Carlo based technology.</li>
                <li>Communicated the latest research, white papers, and investment themes to clients.</li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="ml">
            <div class="card card-body">
              <h3>Merrill Lynch</h3>
              <ul>
                <li>Educated small business owners on Merrill Edge’s retirement plan solutions (401ks, Simple IRA, SEPs).</li>
                <li>Educated investors on investment topics including but not limited to: margin, fixed income, trade process,
                bid-ask, options, spreads, etc. </li>
                <li>Uncover needs that can be met using BofA’s vast offering of client solutions by using a service to sale dialogue model.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
          data-target="#aboutme" aria-expanded="false" aria-controls="collapseTwo"
          style="color:grey">
            Beyond the Office
          </button>
        </h2>
      </div>
      <div id="aboutme" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>I live in Elmwood Park with my wife Amy and son Sebastian.
            I enjoy mountain biking, any aquatic sport, and jiu-jitsu.
          </p>
          <p>I grew up in San Diego, CA. Before moving to the midwest i completed an Ironman 70.3!
            <a href="https://www.ironman.com/triathlon/events/americas/ironman-70.3/oceanside/results.aspx?y=2013&rd=20130330&race=california70.3&bidid=776&detail=1#axzz5sRNpQZ00">
              Race Results
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p class="lead">
    <!-- <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a> -->
  </p>
</div>





{% endblock %}
