{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Here are some samples:</h1>
    <p class="lead">Check back weekly. I am updating this as I create more projects.</p>
    <ul>
      <li> <a href="{% url 'todolist:todolist' %}">To Do List</a> </li>
      <li> <a href="{% url 'blog:postmodel_list' %}">Blog</a> </li>
      <li>Next: Currently working on running some SPX data to see how much price movement exists
        in the underlying equities over a 30, 60, and 90 day period.
      </li>

    </ul>
  </div>
</div>
{% endblock %}
