{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Here are some samples:</h1>
    <ul>
      <li> <a href="{% url 'todolist:todolist' %}">To Do List</a> </li>
        <ul>
          <li><a href="https://github.com/1sandovalgerardo/SandovalWebsite/tree/master/ProjMyWebsite/AppToDo">
           To Do List Source Code</a>
          </li>
       </ul>
      <li> <a href="{% url 'blog:postmodel_list' %}">Blog</a> </li>
        <ul>
          <li> <a href="https://github.com/1sandovalgerardo/SandovalWebsite/tree/master/ProjMyWebsite/AppBlog">
            Blog Source Code </a>
          </li>
        </ul>
    </ul>
  </div>
</div>
{% endblock %}
<!-- Attempt to Update -->
